<%= render '/layouts/navbar' %>

<table>
  <tbody>
    <% @workouts.each do |workout| %>
      <tr class="workout_row">
        <td class="delete_button"><%= image_tag "delete_button_gray.png", :class => "delete_image" %></td>
        <td class="start_button"><%= image_tag "blue_chevron.png", :class => "start_image" %></td>
        <td class="workout_name"><%= workout.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>