<% quotes = [

"'Awesome Quotation Here' - Austin Fathman",
"'Haha, GAYYYYY' - Logan Mercer",
"'Daaaaaaamn' - Keanu Delgado"

] %>

<% quotes.each do |q| %>
    <p class="quotes"><em><%= q %></em></p>
<% end %>