<!-- Header -->
<script type="text/javascript">
$(document).ready(login())

function login(){

          // Show chosen div, and hide all others
        $("a").click(function (e) 
        {
		if($("#loginBox").css("display") == 'block'){
				$("#loginBox").css("display",'none');
			}
			else{
                e.preventDefault();
            	$("#loginBox").css("display",'block');
			}
        });

    });
</script>
    		<div id="mini-notification">
            	<p>The notification has been successfully displayed</p>
        	</div>
    <section id="header" class="dark">
        <header >

            <h1>Journey</h1>

            <%= render "quotes" %>
        </header>
        <footer>
            <a href="javascript:login()" class="button">Login</a><br>
			<div id="loginBox"><%= render "form" %></div><br>
            <a href="#register" class="button slow_scroll">Register</a>
        </footer>
    </section>
<!-- Register -->
    <section id="register" class="main">
        <header>
            <div class="container">
                <h2>Register</h2><br>
                <%= render "form" %>
            </div>
        </header>
    </section>
