<!-- Header -->
    <section id="header" class="dark">
        <header>
            <h1>Journey</h1>

            <!-- TODO: iterate these from somewhere -->
            <p class="quotes"><em>'Awesome Quotation Here</em>' - <em>Austin Fathman</em></p>
            <p class="quotes"><em>'Haha, GAYYYYY</em>' - <em>Logan Mercer</em></p>
            <p class="quotes"><em>'Daaaaaaamn</em>' - <em>Keanu Delgado</em></p>
        </header>
        <footer>
            <a href="#" class="button scrolly">Login</a><br><br>
            <a href="#register" class="button scrolly">Register</a>
        </footer>
    </section>
    
<!-- Register -->
    <section id="register" class="main">
        <header>
            <div class="container">
                <h2>Register</h2>
                <%= render "form" %>
            </div>
        </header>
    </section>
