<!-- Header -->
    <section id="header" class="dark">
        <header>
            <% QUOTES.shuffle.each do |q| %>
                <div class="quotes" style="display:none;"><p style="display:table-cell; vertical-align:middle;"><em><%= q %></em></p></div>
            <% end %>

            <h1>Journey</h1>
            Move forward. Be well.
        </header>

        <br><br>

        <footer>
            <div id="cover" style="display:none;"></div>
            <a id="loginButton" class="button">Login</a><br>
            <div id="loginBox" style="display:none;"><%= render "sessions/form" %></div><br>
            <a href="#register" class="button slow_scroll">Register</a>
        </footer>
    </section>
<!-- Register -->
    <section id="register" class="main">
        <header>
            <div class="container">
                <h2>Register</h2>
                Start your journey to better fitness habits.
                <br>
                <%= render "form" %>
            </div>
        </header>
    </section>