<div id="goal_delete_form">
  <div class="xbutton">[x]</div>
  <div class="goal_delete_lower">
  <center>
    Are you sure you want to remove this goal?
  </center>
  <%= button_to "Ok", goal, :method => :delete, :size => 15 %>
  <%= button_to "Cancel", "javascript:;", :class => "cancel_button" %>
</div>
</div>