html, body{height:100%;}

div.dashboard_background
{
	min-height:100%;
	overflow:auto;
	/*padding-bottom: -6em;*/
	margin-bottom:1em;
  background-image: url('background8.jpg');
	background-repeat:no-repeat;
	background-size:cover;
	background-position:center;
}

div.dashboard_container
{
  color:#404040;
  background-color:rgba(255,255,255,0.57);
}

table.dropdown_table
{
  height:100px;
  width:100%;
}

td.delete_button
{
  padding-top: 9px;
  width: auto;
  text-align:right;
  vertical-align:middle;
}

td.dropdown
{
  width:350px;
  vertical-align:middle;
}

td.add_button
{
  padding-top: 9px;
  width:auto;
  text-align:left;
  vertical-align:middle;
}

img.delete_image
{
  width:auto;
  height:auto;
  cursor:pointer;
}

img.add_image
{
  width:auto;
  height:auto;
  cursor:pointer;
}

div.delete_confirmation
{
  position: absolute;
  top: 11%;
  left: 38%;
  margin-top: 40px;
  width: 24%;
  padding: 15px;
  padding-bottom: 60px;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: .25em;
  line-height: 125%;
  z-index: 110;
}

div.add_input
{
  position: absolute;
  top: 11%;
  left: 38%;
  margin-top: 40px;
  width: 40%;
  padding: 15px;
  padding-bottom: 60px;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: .25em;
  line-height: 125%;
  z-index: 110;
}

input[value="Ok"]
{
  position:absolute;
  bottom:0.5em;
  left:0.5em;
  width:6em;
}

input[value="Cancel"]
{
  position:absolute;
  bottom:0.5em;
  right:0.5em;
  width:6em;
}

input[value="Record Workout"]
{

  padding-top:0em;
  height:3em;
  width:15em;
}

td.start_button
{
  width:20%;
  text-align: center;
}

td.workout_name
{
  width:50%;
  padding-left:75px;
  font-size:24pt;
}

img.start_image
{
  width:80px;
  height:auto;
  cursor: pointer;
}

div.workout_record
{
  position: absolute;
  top: 11%;
  left: 25%;
  margin-top: 40px;
  width: 50%;
  padding: 15px;
  background-color: white;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: .25em;
  line-height: 125%;
  z-index: 110;
}

div.dash_cover
{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: gray;
  opacity: 0.65;
  z-index: 100;
}

.new_workout_record input,
.new_workout_record input[type="submit"]
{
  display:block;
  margin-top:15px;
}

.new_workout input[type="submit"]
{
  display:none;
}

.xbutton
{
  font-size:13pt;
  position:absolute;
  right: 7px;
  top: 5px;
  cursor:pointer;
}

.hide
{
  display: none;
}