#user_current_workout_id
{
  width:300px;
  font-size:20pt;
}

#category_name
{
  width:300px;
  font-size:20pt;
}

div.cover
{
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background-color: gray;
  opacity: 0.65;
  z-index: 100;
}

td.delete_button
{
  vertical-align:bottom;
  padding-bottom:3px;
  text-align:right;
}

td.add_button
{
  vertical-align:bottom;
  padding-bottom:3px;
  text-align:left;
}

.delete_lower
{
  margin-top:10pt;
}

img.add_image
{
  width:auto;
  height:auto;
  cursor:pointer;
}

img.delete_image
{
  width:auto;
  height:auto;
  cursor:pointer;
}

td.dropdown
{
  width:350px;
  vertical-align:middle;
}

table.dropdown_table
{
  height:100px;
  width:100%;
}