<div class="achievements_background">
  <%= render '/layouts/navbar' %>
  <div class="achievements_container">
    <!-- Use @achievements for all achievements -->
    <!-- Use @user_achievements for current_user's achievements -->
    <!-- Use achievement.description for it's full name -->
    <!-- Use achievement.name for its shorthand identifier -->
    <!-- Use achievement.level for its difficulty (1-3) -->
    <!-- Use achievement.id for its sequential id -->
    <!-- Achievements are set in config/initializers/merit.rb -->
    <table class="achievements_table">
      <tbody>
        <% row = 0 %>
        <% column = 1 %>
        <% while row < (@achievements.length / 4 + 1) %>
          <tr class="achievement_row">
            <% while column < 5 %>
              <% if (row*4 + column) < @achievements.length + 1 %>
                <td><%= image_tag 'achievement' + (row*4 + column).to_s + '.png' %></td>
              <% end %>
              <% column += 1 %>
            <% end %>
          </tr>
          <% column = 1 %>
          <tr class="achievement_text_row">
            <% while column < 5 %>
              <% if (row*4 + column) < @achievements.length + 1 %>
                <td><%= @achievements[row*4 + column - 1].description %></td>
              <% end %>
              <% column += 1 %>
            <% end %>
          </tr>
          <% column = 1 %>
          <% row += 1 %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>