<!-- Access user's array of achievements on this page by using @achievements-->

<%= render '/layouts/navbar' %>

<div class="achievements_container">
    <table>
      <tbody>
        <tr class="achievements_row">
          <td class="achievements">
          <td class="achievements">
          <td class="achievements">
          <td class="achievements">
          <td class="achievements">
        </tr>
      </tbody>
    <table>
</div>