<div class="achievements_background">
  <%= render '/layouts/navbar' %>
  <div class="achievements_container">

    <form id="category_form">
      <%= select("category", "name", options_for_select(["Firsts", "Workouts", "Goals", "Time", "Distance"], @name)) %>
      <input type="submit" style="display:none;"></input>
    </form>

    <table class="achievements_table">
      <tbody>
        <% @achievements.in_groups_of(4, false).each do |a4| %>
          <tr class="achievement_row">
          <% a4.each do |a| %>
            <td>
              <ul>
                <li><%= image_tag 'achievement' + a.id.to_s + '.png', :class => @user_achievements.include?(Merit::Badge.find(a.id)) %></li>
                <li><%= Merit::Badge.find(a.id).description %></li>
              </ul>
            </td>
          <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>