<!-- Access user's array of achievements on this page by using @achievements-->
<div class="achievements_background">
  <%= render '/layouts/navbar' %>
  <div class="achievements_container">
      <table>
        <tbody>
          <tr class="achievements_row">
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
  </div>
</div>