<table class="namebar">
  <td id="username"><%= current_user.name %></td>
  <td id="options"><%= link_to "Settings", current_user %> | <%= link_to "Log Out", signout_path %></td>
</table>

<div class="navbar">
  <span class="nav_element d"><a href=''>Dashboard</a></span>
  <span class="nav_element g"><a href=''>Goals</a></span>
  <span class="nav_element p"><a href=''>Progress</a></span>
  <span class="nav_element a"><a href=''>Achievements</a></span>
</div>
